.Toolbar {
  display: flex;
}

.icon {
  border-radius: 5px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  padding: 2rem;
}

.icon:disabled {
  color: rgba(#333333, 0.5);
  pointer-events: none;
}

.icon:hover {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
}
.is-active {
  background: #333333;
  color: #ffffff;
}

.icon + .icon {
  margin-left: 4px;
}

.tiptap {
  /* height: 98px; */
  min-height: 300px;
  /* max-width: 600px; */
  overflow-y: auto;
  padding: 2rem;
  transition: all 0.3s ease-in-out; /* Menambahkan transisi yang halus */
}

.tiptap.active {
  background: #e5e7eb; /* Warna latar belakang untuk aktif */
  border: 1px solid #d1d5db; /* Border untuk aktif */
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.4); /* Shadow untuk aktif */
  outline: none;
}

/* Menambahkan kelas fokus yang sesuai */
.tiptap:focus {
  border: 1px solid #6366f1; /* Border fokus */
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.4); /* Shadow fokus */
  outline: none;
}

/* Placeholder (at the top) */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
ul {
  padding: 1rem 4rem;
  list-style-type: disc;
}
ol {
  padding: 1rem 4rem;
  list-style-type: decimal;
}
h1 {
  display: block;
  font-size: 3.6rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 3.2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 2.4rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.SelectContent {
  position: absolute;
  z-index: 50; /* Pastikan dropdown ada di atas elemen lainnya */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
